<div class="contact">
  <h3>Kontakt</h3>
  <ul>
    <li>JGU – Johannes Gutenberg-Universität Mainz</li>
    <li>Fachbereich 07 – Geschichts- und Kulturwissenschaften</li>
    <li>Jakob-Welder-Weg 20</li>
    <li>55128 Mainz</li>
    <!-- <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 234 567 890</span></li> -->
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:y.massard@web.de">y.massard@web.de</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://google.com">google.com</a></li>
  </ul>
</div>
